/* Header.css */

.nav-link {
  position: relative;
  overflow: hidden;
}

.nav-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #2F424B;
  z-index: -1;
  transition: all 0.4s ease-in-out;
  border-radius: 8px;
}

.nav-link:hover::before {
  left: 0;
}

.nav-link.active::before {
  left: 0;
}

.nav-link:hover {
  color: white;
}

.nav-link.active {
  color: white;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure it's above the sections */
  background-color: #fff; /* Or whatever background color you want */
  padding: 20px 50px;
}