@tailwind base;
@tailwind components;
@tailwind utilities;
html{
    scroll-behavior: smooth;
}

/* Modern Scrollbar Styling */
::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #37474F;
  }
  ::-webkit-scrollbar-thumb {
    background: #576c75;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #6a838d;
  }
  
  @media print {
    body * {
        visibility: hidden;
    }
    .printable-receipt, .printable-receipt * {
        visibility: visible;
    }
    .printable-receipt {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        padding: 20px;
    }
}